# Socket.IO Server Configuration
SOCKETIO_SERVER=http://fraxis.local:8005
SOCKETIO_AUTH_TOKEN=0616168e1a15bcd:0136af1ccc46f4d

# Test Configuration
TEST_TIMEOUT=30000
DEBUG=false

# Database Configuration
TEST_SITE=fraxis.local
